@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    to right top,
    rgb(206, 206, 206),
    rgb(150, 150, 150)
  );
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  body {
    display: none;
  }
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 30px 30px;
  width: 100vw;
  z-index: 1;
}

.nav__container {
  display: flex;
  flex-direction: column;
}

.nav__button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: 2;
}

.nav__bar {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.nav__button.ativo .nav__bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.nav__button.ativo .nav__bar:nth-child(2) {
  opacity: 0;
}
.nav__button.ativo .nav__bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.nav__links {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  right: -250px;
  top: 0px;
  transition: 0.5s ease-out;
  font-weight: bolder;
  font-size: 1.35rem;
  background-color: hwb(0 100% 0% / 0.5);
  backdrop-filter: blur(3px);
  width: 200px;
  height: 100svh;
}

.nav__links.ativo {
  right: 0px;
}

.nav__link {
  padding: 15px;
  transition: 0.2s ease;
}
.nav__link:hover {
  font-size: 1.6rem;
}

.nav__logo {
  width: 100px;
  transition: 0.2s ease;
}

.nav__logo:hover {
  width: 110px;
}

.inicio {
  display: flex;
  background-image: url(../assets/backgroung.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100svh;
  padding-top: 100px;
  justify-content: center;
}

.inicio__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  width: 45vw;
  padding-top: 120px;
  color: white;
}

.inicio__texto h1 {
  font-size: 27px;
  padding-bottom: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  border-bottom: 2px solid white;
}

.inicio__texto p {
  padding-bottom: 150px;
  padding-top: 30px;
  line-height: 1.5;
  text-align: justify;
  font-size: 1.1rem;
}

.inicio__imagem {
  background-image: url(../assets/zada.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px;
  height: 80svh;
  animation: zada 3s infinite;
}

@keyframes zada {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.objetivos {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.objetivo1,
.objetivo2,
.objetivo3 {
  display: flex;
  padding: 0px 30px 0px 30px;
  align-items: center;
  justify-content: space-around;
}

.objetivo1 {
  padding-bottom: 200px;
}

.objetivo2 {
  flex-direction: row-reverse;
  position: absolute;
  padding: 0px;
  top: 210px;
  left: 50px;
  width: 95vw;
}

.objetivos img {
  width: 260px;
}

.objetivos h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

.missao {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to right,
    rgb(226, 233, 94),
    rgb(106, 205, 14)
  );
}

.missao h2 {
  width: 230px;
  font-size: 20px;
  line-height: 1.5;
}

.missao img {
  height: 600px;
  width: 600px;
}

.produtos {
  padding-top: 60px;
}

.produtos__destaque {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}

.produtos__destaque img {
  width: 300px;
}

.produtos__destaque-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.produtos__destaque-texto h2 {
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  font-weight: bold;
}

.slider__container {
  background-image: linear-gradient(
    to bottom,
    rgb(226, 233, 94),
    rgb(106, 205, 14)
  );
  overflow: hidden;
  position: relative;
  height: 300px;
  display: flex;
}

.slider {
  display: flex;
  animation: 15s slide infinite linear;
}

.slider img {
  width: 250px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.atletas {
  padding-top: 60px;
}

.atletas h2 {
  font-size: 25px;
  text-align: center;
  padding: 20px;
  border: 3px solid white;
  box-shadow: 0px 0px 20px white;
  width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  font-weight: bold;
}

.atletas_div {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.atletas_divisor img {
  width: 500px;
}

.atletas_divisor p {
  padding: 25px;
}





.acao {
  display: flex;
  padding: 60px;
  background-image: linear-gradient(to right, rgb(218, 177, 31), rgb(107, 209, 107));
  font-size: 20px;
  font-weight: bold;
}

.acao__img {
  width: 500px;
  height: 500px;
}

.acao__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.acao__options-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 60px;
}

.acao__options-option img {
  height: 50px;
}

.acao__options-option button {
  background-color: rgb(66, 196, 66);
}

.email {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.email input {
  margin: 20px 0px;
  width: 480px;
  font-size: 15px;
}

.email button {
  width: 230px;
  height: 70px;
  border-radius: 20px;
  cursor: pointer;
}

.rodape {
  height: 200px;
  display: flex;
  background-color: black;
  color: wheat;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.flip {
  transform: rotatey(180deg);
}
